<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %tid %c{1}:%L - %m%n" />
        </Console>
        <RollingFile name="dest1" fileName=".\Logs\Manual.logs" filePattern="%i" append="true">
            <PatternLayout pattern="%d{dd/MM/yyyy HH:mm:ss} %c %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="900KB" />
            </Policies>
            <DefaultRolloverStrategy max="6"/>
        </RollingFile>
        <RollingFile name="file" fileName=".\Logs\Selenium.logs" filePattern="%i" append="true">
            <PatternLayout pattern="%d{ABSOLUTE} %5p %tid %c&lt;strong&gt;{1}&lt;/strong&gt;:%L - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="900KB" />
            </Policies>
            <DefaultRolloverStrategy max="6"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="devpinoyLogger" level="debug">
            <AppenderRef ref="dest1" />
        </Logger>
        <Logger name="org.apache" level="warn">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="httpclient" level="warn">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="file"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
